* {
    padding: 0;
    margin: 0;
}

#container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: rgb(30, 30, 30);
}

.tier-row {
    display: flex;
    gap: 1rem;
    background-color: rgb(40, 40, 40);
}

.tier-level {
    height: 10rem;
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.tier-level > span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: black;
}