:root {
    --primary-color: rgb(30, 30, 30);
    --secondary-color: rgb(40, 40, 40);
    --ternary-color: rgb(50, 50, 50);
    --highlight-color: rgb(150, 150 , 150);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    height: 100vh;
    width: 100vw;
    background-color: var(--secondary-color);
}

main {
    height: 100vh;
    width: 100vw;
}

#button-container {
    width: 100%;
    padding: 2rem 0;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
}

.button-wrapper {
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: grab;
}

.button-content {
    height: 4rem;
    width: 4rem;
    border-radius: 0.5rem;
    transition: height .2s ease-out, width .2s ease-out;
}

.button-content:hover {
    height: 5rem;
    width: 5rem;
}

#tier-container {
    height: 100%;
    width: 100%;
    background-color: var(--primary-color);
}

.tier-row {
    display: flex;
    background-color: var(--secondary-color);
}

.tier-level {
    height: 8rem;
    width: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.tier-level > span {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 700;
    color: black;
}

.tier-content {
    display: flex;
    flex: 1;
}

#tier-content-placeholder {
    height: 8rem;
    width: 8rem;
    background: var(--ternary-color);
}

.tier-content-item {
    height: 8rem;
    width: 8rem;
}

#dragged {
    height: 8rem;
    width: 8rem;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dragged-img {
    height: 100%;
    width: 100%;
    border-radius: 1rem;
    animation: dragged_animation .3s ease-out;
}

@keyframes dragged_animation {
    0% {
        height: 0;
        width: 0;
    }

    100% {
        height: 100%;
        width: 100%;
    }
}

#add-button-label {
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: var(--highlight-color);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.75rem;
    font-weight: 500;
    color: var(--primary-color);
    cursor: pointer;
}